@model IEnumerable<Actor>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Movie</h2>
<form class="form-text border" asp-controller="Movies" asp-action="AddMovieToDb">
    <label class="align-content-center" for="title">Movie Title:</label>
    <input class="input-group-text" style="width: 30%;" type="text" name="title" id="title" placeholder="Input title" required>
    <br>
    <label class="align-content-center" for="releaseDate">Release Date:</label>
    <input class="input-group-text" style="width: 30%;" type="date" name="releaseDate" id="releaseDate" placeholder="Select Date" required>
    <br>

    <label class="align-content-center" for="actors">Select Actors:</label>
    <div class="form-text" id="actors">
        <select class="form-select" name="ActorsID" style="width: 30%;" multiple aria-label="multiple select example" required>
            <div class="dropdown-menu">
                <ul>
                    @foreach (Actor actor in Model)
                    {
                        <li>
                            <option class="dropdown-item" value="@actor.Id">@actor.Name @actor.Surname</option>
                        </li>
                    }
                </ul>
            </div>
        </select>
    </div>
    <br>
    <label class="align-content-center" for="genres">Select Genres:</label>
    <div class="form-text" id="genres">
        <select class="form-select" name="GenresID" style="width: 30%;" multiple aria-label="multiple select example" required>
            <div class="dropdown-menu">
                <ul>

                    @foreach (Genre genre in (List<Genre>)ViewData["genres"]!)
                    {
                        <li>
                            <option class="dropdown-item" value="@genre.Id">@genre.Name @genre.Id</option>
                        </li>
                    }
                </ul>
            </div>
        </select>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Add</button>
</form>