@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Movie

@{
    ViewBag.Title = "Movie Details";
    Layout = "_Layout";
}


<div class="text-center">
    <div class="col">
        <div class="card">
            <div class="card-title">
                <h5>@Model.MovieDetail!.Title</h5>
            </div>
            <div class="card-subtitle">
                <h6>Id: @Model.MovieDetail.MovieId</h6>
            </div>
            <div class="card-body">
                <h6 class="d-inline-block">@Model.MovieDetail.Date</h6>
                <br>
                <h5> Genres:
                    @{
                        foreach (Genre genre in Model.Genres)
                        {
                            @(genre.Name + " ")
                        }
                    }
                </h5>
                <form asp-controller="Actors" asp-action="Index" method="get">
                    <input type="text" name="movieId" value="@Model.MovieDetail.MovieId" hidden="hidden">
                    <button class="btn btn-outline-dark" type="submit">Show actors in this movie</button>
                </form>
            </div>
        </div>
    </div>
</div>