@using Microsoft.AspNetCore.Identity
@model IEnumerable<Movie>
@inject SignInManager<AppUser> SingInManager

@{
    ViewData["Title"] = "Index";
}

<p>
    @if (SingInManager.IsSignedIn(User))
    {
        <a class="btn btn-outline-success" asp-action="Create">
            Create New
        </a>
    }
    else
    {
        <a class="btn btn-outline-success disabled" asp-action="Create">
            Create New
        </a>
    }
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieDetail.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieDetail.Date)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Movie movie in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => movie.MovieDetail.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => movie.MovieDetail.Date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@movie.Id">
                    <button class="btn btn-outline-primary">Watch</button>
                </a>
                @if (SingInManager.IsSignedIn(User))
                {
                    <a asp-action="Edit" asp-route-id="@movie.Id">
                        <button class="btn btn-outline-info"> Edit </button >
                    </a>
                    <a asp-action="Delete" asp-route-id="@movie.Id">
                        <button class="btn btn-outline-danger"> Delete </button >
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>